.container {
  flex: 1;
}

.container main {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 2rem;
}

.header {
  height: 6rem;
  background: var(--white);
  border-bottom: 2px solid var(--shape);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  max-width: 1120px;

  margin: 0 auto;
}

.inputContainer {
  padding: 1rem;

  background: var(--background);
  border-radius: 10px;
  border: 2px solid var(--shape);
  
  height: 3rem;
  width: 26rem;

  display: flex;
  align-items: center;
}

.inputContainer input {
  outline: 0;
  height: 3rem;
  width: 100%;
  border: 0;
  background: transparent;
  margin-left: 0.5rem;
}

.heading {
  display: flex;
  align-items: center;
  space-between: space-between;
  margin-bottom: 2rem;
}

.heading h1 {
  font-size: 2.25rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: var(--text-title);
}

.cards {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.cards > div {
  transition: transform 0.2s;
}

.cards > div:hover {
  transform: translateY(-10px);
}