.container {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  color: var(--blue-brand);
  background: var(--blue-low);
  border-radius: 10px;

  height: 3rem;
  width: 10.875rem;

  display: flex;
  align-items: center;
  justify-content: center;
}